body
{
	background-color: rgb(245,245,245);
}
#heading
{
	font-size: 30px;
	margin-left: 20px;
	margin-top: 10px;
}
.heading_image
{
	margin-top: -10px;
}
.body_area
{
	padding-left: 50px;
	padding-right: 50px;
}
.left_side
{
	padding-top: 20px;
	background-color: rgb(255,255,255);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	padding-bottom: 20px;
}
.right_side
{
	background-color: rgb(255,255,255);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	height: 480px;
	margin-left: 30px;
	margin-right: 30px;
	padding-top: 30px;
}
#cam_border
{
	width: 350px;
	height: 350px;
	border:1px solid lightgray;
	border-radius: 5px;
	background-color: rgb(245,245,245);
}
.cam_button
{
	width: 200px;
	height: 50px;
}

body{
    overflow-x: hidden;
}
.sidenav {
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 220px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color:rgb(53, 58, 63); /* Black */
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px;
	z-index: auto;
  }
  
  /* The navigation menu links */
  .sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 17px;
	color: #818181;
	display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
	color: #f1f1f1;
  }

  .chevron
  {
    float: right;
    padding-top: 4px;
    padding-right: 5px;;
  }
  
  .active_link
  {
    color: aliceblue !important;
  }
  
.body_content{
      margin-left: 220px;
      padding-left: 30px;
      padding-right: 250px;
      padding-top: 50px;
}
